<!-- <div class="page-header" data-parallax="true" style="background-image: url('../assets/img/slides/Slide_1.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Explore the world</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Register</button>
        </div>
    </div>
</div> -->
<div class="page-header">
    <div class="page-carousel">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="../assets/img/uriel-soberanes.jpg" alt="Random first slide">
                <div class="carousel-caption carousel-left">
                    <p>Somewhere</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/img/antoine-barres.jpg" alt="Random second slide">
                <div class="carousel-caption carousel-left">
                    <p>Somewhere else</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/img/joshua-stannard.jpg" alt="Random third slide">
                <div class="carousel-caption carousel-left">
                    <p>Here it is</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
<div class="section section-dark-nocontent">
    <div class="section-dark-box">
        <div class="row">
            <div class="col-md-6">
                <h2 class="head-title">Explore the land of fire</h2>
                <div>
                    <img src="../assets/img/federico-beccari.jpg" class="img-content" alt="Random first image">
                    <button class="btn btn-outline-neutral btn-sm img-caption">#Cruise100</button>
                </div>
                <p class="text-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <span class="read-more">Read more</span>
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="head-title">Journey to sea paradise</h2>
                <div>
                    <img src="../assets/img/soroush-karimi.jpg" class="img-content" alt="Random second image">
                    <button class="btn btn-outline-neutral btn-sm img-caption">#Cruise101</button>
                </div>
                <p class="text-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <span class="read-more">Read more</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section section-dark" style="background-image: url('../assets/img/live-in-the-moment.jpg');">
    <div class="vertical-center">
        <h1 class="text-image">Live in the<br>moment</h1>
        <h2 class="text-image-small">Register now!</h2>
    </div>
</div>
<div class="section section-dark-content">
    <div class="section-dark-box">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Hongkong</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/slides/Slide_1.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Hawai</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/slides/Slide_1.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Indonesia</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/slides/Slide_1.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="head-tag">#Cruise100</h1>
                        <div class="text-box">
                            <h3 class="head-title-tag">Explore the land of fire</h3>
                            <p class="text-content-slide">
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <button class="btn btn-warning btn-lg" style="margin-left: 5%">See Itinerary</button>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Hongkong</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/slides/Slide_1.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Hawai</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/slides/Slide_1.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Indonesia</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/slides/Slide_1.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="head-tag">#Cruise101</h1>
                        <div class="text-box">
                            <h3 class="head-title-tag">Explore the land of fire</h3>
                            <p class="text-content-slide">
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <button class="btn btn-warning btn-lg" style="margin-left: 5%">See Itinerary</button>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="section-dark-slide">
        <div class="row">
            <div class="col-md-6">
                <div class="page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="../assets/img/uriel-soberanes.jpg" alt="Random first slide">
                            <div class="carousel-caption carousel-left">
                                <p>Somewhere</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="../assets/img/antoine-barres.jpg" alt="Random second slide">
                            <div class="carousel-caption carousel-left">
                                <p>Somewhere else</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="../assets/img/joshua-stannard.jpg" alt="Random third slide">
                            <div class="carousel-caption carousel-left">
                                <p>Here it is</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <div class="col-md-6">
                <h1>We Are Peace Boat</h1>
            </div>
        </div>
    </div>
    
    <h1 class="head-section">Featured Upcoming Event</h1>
</div>
<div class="section section-dark" style="background-image: url('../assets/img/night-light-bg.jpg');">
    <div class="section-dark-main">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <img src="../assets/img/first-ave.jpg" class="img-content-center" alt="Random first image">
            </div>
            <div class="col-md-5">
                <h4 class="text-heading" style="margin-top: 15%;">Saturday, 19 May 2018</h4>

                <h3 class="text-heading">Raffles Town Club Singapore</h3>
                <p><b>1 Plymouth Avenue Singapore 297753</b></p>

                <h4 class="text-heading">Time:</h4>
                <p><b>Session 1 : 10:30am - 12:30pm</b></p>
                <p><b>Session 2 : 02:30pm - 04:30pm</b></p>
                <button class="btn btn-warning btn-lg">It's free! Register now</button>
            </div>
        </div>
    </div>
</div>
<div class="section section-dark-content">
    <div class="section-dark-container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center">Keep in touch?</h2>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="nc-icon nc-single-02"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="nc-icon nc-email-85"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                    <div class="row">
                        <div class="col-md-4 mr-auto ml-auto">
                            <button class="btn btn-warning btn-lg btn-fill">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>