<!-- <div class="page-header" data-parallax="true" style="background-image: url('../assets/img/slides/Slide_1.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Explore the world</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Register</button>
        </div>
    </div>
</div> -->
<div class="page-header">
    <!-- <h2 class="header-caption">Around The World Cruise Peace Boat</h2> -->
    <div class="page-carousel">
        <ngb-carousel #headerCarousel="ngbCarousel">
            <ng-template ngbSlide id="firstSlide">
                <img src="../assets/img/slides/header-01.jpg" alt="Random first slide">
                <div class="carousel-caption carousel-left">
                    <p><b>Peace Boat</b></p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="secondSlide">
                <img src="../assets/img/slides/header-02.JPG" alt="Random second slide">
                <div class="carousel-caption carousel-left">
                    <p><b>Peace Boat</b></p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="thirdSlide">
                <img src="../assets/img/slides/header-03.jpg" alt="Random third slide">
                <div class="carousel-caption carousel-left">
                    <p><b>Peace Boat</b></p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="fourthSlide">
                <img src="../assets/img/slides/header-04.jpg" alt="Random fourth slide">
                <div class="carousel-caption carousel-left">
                    <p><b>Peace Boat</b></p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="fifthSlide">
                <img src="../assets/img/slides/header-05.JPG" alt="Random fifth slide">
                <div class="carousel-caption carousel-left">
                    <p><b>Peace Boat</b></p>
                </div>
            </ng-template>
        </ngb-carousel>
        <div class="carousel-indicators-thumbnail">
            <img src="../assets/img/slides/header-01.jpg" (click)="headerCarousel.select('firstSlide')" alt="Random first slide">
            <img src="../assets/img/slides/header-02.JPG" (click)="headerCarousel.select('secondSlide')" alt="Random second slide">
            <img src="../assets/img/slides/header-03.jpg" (click)="headerCarousel.select('thirdSlide')" alt="Random third slide">
            <img src="../assets/img/slides/header-04.jpg" (click)="headerCarousel.select('fourthSlide')" alt="Random fourth slide">
            <img src="../assets/img/slides/header-05.JPG" (click)="headerCarousel.select('fifthSlide')" alt="Random fifth slide">
        </div>
    </div>
</div>
<div class="section section-dark-nocontent">
    <div class="section-dark-box">
        <div class="row">
            <div class="col-md-6">
                <h3 class="head-title">A Trip to be Remembered, A Journey to the Land of Ice and Fire</h3>
                <div>
                    <img src="../assets/img/machu-picchu.jpg" class="img-content" alt="Random first image">
                    <!-- <button type="button" [ngx-scroll-to]="'#cruises'" (click)="itineraryCarousel.select('firstItinerary')" class="btn btn-outline-neutral btn-sm img-caption">The 100th Global Voyage</button> -->
                </div>
                <p class="head-title-small" style="font-size: 18px">
                    December 26, 2018 – March 31, 2019 <br>
                    (Yokohama, Japan - Yokohama, Japan / 96 days)
                </p>
                <p class="text-content">
                    This voyage traverses the Southern Hemisphere to explore the awe-inspiring nature of Port Elizabeth, Madagascar, Bora Bora, Argentina, and more. <span [ngx-scroll-to]="'#cruises'" (click)="itineraryCarousel.select('firstItinerary')" class="read-more">Show more</span>
                    <!-- <span *ngIf="!content1" (click)="showMore(1)" class="read-more">Show more</span>
                    <span *ngIf="content1">Nam ultricies augue sed mattis gravida. Nullam eget sapien vel elit mollis accumsan vel in lacus. Phasellus sodales nec risus vel pulvinar. Praesent quis nisl sit amet libero sollicitudin lobortis. Etiam pellentesque eros ac dui lacinia commodo ut non tortor.</span>
                    <span *ngIf="content1" (click)="showMore(1)" class="read-more">Show Less</span> -->
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="head-title" style="margin-bottom: 15px;">A Voyage to Six Continents</h2>
                <div>
                    <img src="../assets/img/egypt-main.jpg" class="img-content" alt="Random second image">
                    <!-- <button type="button" [ngx-scroll-to]="'#cruises'" (click)="itineraryCarousel.select('secondItinerary')" class="btn btn-outline-neutral btn-sm img-caption">The 101st Global Voyage</button> -->
                </div>
                <p class="head-title-small" style="font-size: 18px">
                    April 20 – August 1, 2019 <br>
                    (Yokohama, Japan - Yokohama, Japan / 104 days)
                </p>
                <p class="text-content">
                    Along the way, you’ll see the mighty pyramids of Giza at Egypt, then you'll visit Europe countries, New York, Easter Island and more. The ship will travel to the South Pacific in July – a perfect position to view the total solar eclipse of 2019. <span [ngx-scroll-to]="'#cruises'" (click)="itineraryCarousel.select('secondItinerary')" class="read-more">Show more</span>
                    <!-- <span *ngIf="!content2" (click)="showMore(2)" class="read-more">Show more</span>
                    <span *ngIf="content2">Nam ultricies augue sed mattis gravida. Nullam eget sapien vel elit mollis accumsan vel in lacus. Phasellus sodales nec risus vel pulvinar. Praesent quis nisl sit amet libero sollicitudin lobortis. Etiam pellentesque eros ac dui lacinia commodo ut non tortor.</span>
                    <span *ngIf="content2" (click)="showMore(2)" class="read-more">Show less</span> -->
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section section-dark" style="background-image: url('../assets/img/live-in-the-moment.jpg');">
    <div class="vertical-center">
        <h1 class="text-image">Find your Dream to explore <br> Around the World with us</h1>
        <!-- <h2 class="text-image-small"><a [ngx-scroll-to]="'#event'">Register now!</a></h2> -->
    </div>
</div>
<div class="section section-dark-content" id="cruises">
    <div class="section-dark-box">
        <ng-template #content100 let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h5 class="modal-title">The 100th Global Voyage</h5>
                <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="../assets/img/machu-picchu.jpg" *ngIf="image" class="img-modal" alt="Map 100th">
                <img src="../assets/img/100th-map.jpg" *ngIf="map" class="img-modal" alt="Map 100th">
            </div>
            <div class="modal-footer">
                <div class="left-side">
                    <button type="button" class="btn btn-danger btn-link" *ngIf="image" (click)="showImage()">Destination</button>
                    <button type="button" class="btn btn-default btn-link" *ngIf="map" (click)="showImage()">Destination</button>
                </div>
                <div class="divider"></div>
                <div class="right-side">
                    <button type="button" class="btn btn-default btn-link" *ngIf="image" (click)="showMap()">Map</button>
                    <button type="button" class="btn btn-danger btn-link" *ngIf="map" (click)="showMap()">Map</button>
                </div>
            </div>
        </ng-template>
        <ng-template #content101 let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h5 class="modal-title">The 101st <br> Global Voyage</h5>
                <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="../assets/img/madagascar.jpg" *ngIf="image" class="img-modal" alt="Map 100th">
                <img src="../assets/img/101st-map.jpg" *ngIf="map" class="img-modal" alt="Map 100th">
            </div>
            <div class="modal-footer">
                <div class="left-side">
                    <button type="button" class="btn btn-danger btn-link" *ngIf="image" (click)="showImage()">Destination</button>
                    <button type="button" class="btn btn-default btn-link" *ngIf="map" (click)="showImage()">Destination</button>
                </div>
                <div class="divider"></div>
                <div class="right-side">
                    <button type="button" class="btn btn-default btn-link" *ngIf="image" (click)="showMap()">Map</button>
                    <button type="button" class="btn btn-danger btn-link" *ngIf="map" (click)="showMap()">Map</button>
                </div>
            </div>
        </ng-template>
        <ngb-carousel #itineraryCarousel="ngbCarousel">
            <ng-template ngbSlide id="firstItinerary">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="margin-bottom: 10%;">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Madagascar</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/madagascar.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    The island of Madagascar is an oasis, boasting an incredible diversity of plants and animals including the dancing sifaka lemur, the beautiful blue coua bird, and the black-and-yellow streaked tenrec. Most of this island’s wildlife can’t be found anywhere else in the world.
                                </p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10%;">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Iguazú Falls</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/iguas.jpg" class="img-content-slide" alt="Random second image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Iguazú Falls stretches for three kilometres along the border of Brazil and Argentina, where the Iguazú River spills down from the Paraná Plateau. Faint rainbows of light and the crashing sound of over 200 waterfalls lend this place an otherworldly aura.
                                </p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10%;">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Antarctica</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/antartica.JPG" class="img-content-slide" alt="Random third image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Upgrade your trip for an additional journey to the great wilderness of Antarctica. For centuries, the continent has attracted daring explorers and adventurers, and you’ll see why: its vast beauty, uninhabited plains, and scores of rare wildlife are impossible to resist.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="head-tag">The 100th <br> Global Voyage</h1>
                        <div class="text-box">
                            <h3 class="head-title-tag">A Trip to be Remembered, A Journey to the Land of Ice and Fire</h3>
                            <h5 style="color: #fff; font-weight: bold;">
                                December 26, 2018 – March 31, 2019 <br>
                                (Yokohama, Japan - Yokohama, Japan / 96 days)
                            </h5>
                            <p class="text-content-slide">
                                This voyage traverses the Southern Hemisphere to explore the awe-inspiring nature of Port Elizabeth, Madagascar, Bora Bora, Argentina, and more. Experience Africa’s rich natural heritage on safari in Port Elizabeth and among the vibrant flora and fauna of Madagascar. Enjoy the breathtaking view of hundreds of endlessly cascading waterfalls in Iguazú Falls. You will explore the world’s oldest desert, the white beaches of Bora Bora, and the vibrant streets of Rio de Janeiro. For an extra fee, join a special expedition to one of the least-explored corners of the world: the great continent of Antarctica.
                            </p>
                        </div>
                        <!-- <div style="margin-bottom: 3%;">
                            <img src="../assets/img/100th-map.jpg" class="map" alt="Map 100th">
                        </div> -->
                        <button type="button" class="btn btn-warning btn-lg" style="margin-left: 5%" (click)="open(content100)">See Itinerary</button>
                        <h4 (click)="itineraryCarousel.select('secondItinerary')">Next <i class="fa fa-angle-right" aria-hidden="true"></i> Cruise 101</h4>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide id="secondItinerary">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="margin-bottom: 3%;">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Solar eclipse</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/solar-eclipse.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    One of the most breathtaking natural phenomena is the total solar eclipse. For a fleeting moment, the moon obscures the sun and completely blocks its light. The ship will travel to the perfect location to observe the eclipse on 2 July 2019.
                                </p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 3%;">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Egypt</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/egypt.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Witness the extraordinary craftsmanship of the pyramids, the last-standing Ancient Wonder of the World. They were built to last forever, as the Ancient Egyptians believed they would protect the spirits of the pharaohs. Indeed, the 4000-year-old monuments are a testament to the lasting legacy and achievements of Ancient Egypt.
                                </p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 3%;">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Easter Island</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/easter-island.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Though officially part of Chile, Easter Island is completely isolated: it lies 3,000 kilometres away from the mainland. Over 800 enigmatic mo’ai structures stand silently across the terrain, offering no clues about their origin or what happened to the once-flourishing Polynesian civilization that called the island home. Here, you can meet the descendants of the indigenous Rapa Nui people and hear the legends of this storied island.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="head-tag">The 101st <br> Global Voyage</h1>
                        <div class="text-box">
                            <h3 class="head-title-tag">A Voyage to Six Continents</h3>
                            <h5 style="color: #fff; font-weight: bold;">
                                April 20 – August 1, 2019 <br>
                                (Yokohama, Japan - Yokohama, Japan / 104 days)
                            </h5>
                            <p class="text-content-slide">
                                Embark on a once-in-a-lifetime voyage in pursuit of the total solar eclipse. Along the way, you’ll see the mighty pyramids of Giza, commissioned by great pharaohs in search of immortality. You’ll visit Easter Island, where the enigmatic mo’ai stand to greet you. Soak up the sun on the picturesque beaches of Mykonos and Tahiti, then sail by the Great Barrier Reef in beautiful Australia. The ship will travel to the South Pacific in July – a perfect position to view the total solar eclipse of 2019.
                            </p>
                        </div>
                        <!-- <div style="margin-bottom: 3%;">
                            <img src="../assets/img/101st-map.jpg" class="map" alt="Map 100th">
                        </div> -->
                        <button type="button" class="btn btn-warning btn-lg" style="margin-left: 5%" (click)="open(content101)">See Itinerary</button>
                        <h4 (click)="itineraryCarousel.select('firstItinerary')" style="margin-top: 66%;">Prev <i class="fa fa-angle-left" aria-hidden="true"></i> Cruise 100</h4>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="section-dark-slide">
        <div class="row">
            <div class="col-md-6">
                <h2 class="header-caption-small">We are <br> Peace Boat</h2>
                <div class="page-carousel">
                    <ngb-carousel #paceCarouselFirst="ngbCarousel">
                        <ng-template ngbSlide id="firstPlace">
                            <img src="../assets/img/slides/peace-boat-1.jpg" class="img-content-slide" alt="Random first slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 1</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="secondPlace">
                            <img src="../assets/img/slides/peace-boat-2.jpg" class="img-content-slide" alt="Random second slide">
                            <div class="carousel-caption carousel-left">
                                <p><b>Cruise 2</b></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide id="thirdPlace">
                            <img src="../assets/img/slides/peace-boat-3.jpg" class="img-content-slide" alt="Random third slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 3</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="fourthPlace">
                            <img src="../assets/img/slides/peace-boat-4.jpg" class="img-content-slide" alt="Random fourth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 4</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="fifthPlace">
                            <img src="../assets/img/slides/peace-boat-5.jpg" class="img-content-slide" alt="Random fifth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 5</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="sixthPlace">
                            <img src="../assets/img/slides/peace-boat-6.jpg" class="img-content-slide" alt="Random fifth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 6</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="seventhPlace">
                            <img src="../assets/img/slides/peace-boat-7.jpg" class="img-content-slide" alt="Random fifth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 7</b></p>
                            </div> -->
                        </ng-template>
                    </ngb-carousel>
                    <div class="carousel-indicators-thumbnail">
                        <img src="../assets/img/slides/peace-boat-1.jpg" (click)="paceCarouselFirst.select('firstPlace')" alt="Random first slide">
                        <img src="../assets/img/slides/peace-boat-2.jpg" (click)="paceCarouselFirst.select('secondPlace')" alt="Random second slide">
                        <img src="../assets/img/slides/peace-boat-3.jpg" (click)="paceCarouselFirst.select('thirdPlace')" alt="Random third slide">
                        <img src="../assets/img/slides/peace-boat-4.jpg" (click)="paceCarouselFirst.select('fourthPlace')" alt="Random fourth slide">
                        <img src="../assets/img/slides/peace-boat-5.jpg" (click)="paceCarouselFirst.select('fifthPlace')" alt="Random fifth slide">
                        <img src="../assets/img/slides/peace-boat-6.jpg" (click)="paceCarouselFirst.select('sixthPlace')" alt="Random fifth slide">
                        <img src="../assets/img/slides/peace-boat-7.jpg" (click)="paceCarouselFirst.select('seventhPlace')" alt="Random fifth slide">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1>What is</h1>
                <h1>Peace Boat?</h1>
                <p>
                    Peace Boat is an international NGO based in Japan that promotes peace, human rights, equal and sustainable development, reapect for the environment, and eco-friendly tourism.
                </p>
                <p>
                    More than 95 cruises over 35 years have raised awareness of global issues, fostered positive social change and transformed our passengers’ perspectives of the world. We’ve hosted over 60,000 passengers and traveled to more than 100 ports in over 80 countries.
                </p>
                <p>
                    Sailing with Peace Boat?
                </p>
                <ul class="list-section">
                    <li>Visit many amazing destinations</li>
                    <li>Travel to World Heritage Sites</li>
                    <li>Experience the local culture</li>
                    <li>Immerse yourself in cross-cultural exchange</li>
                    <li>Turn back time</li>
                    <li>Make your own story</li>
                </ul>
                <a href="http://pbcruise.com/" target="_blank" class="btn btn-warning btn-lg">Visit Peace Boat Global Site</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- <h2 class="header-caption-small">We are <br> Peace Boat</h2> -->
                <div class="page-carousel">
                    <ngb-carousel #paceCarouselSecond="ngbCarousel">
                        <ng-template ngbSlide id="firstPlaceLife">
                            <img src="../assets/img/slides/life-on-board-1.jpg" class="img-content-slide" alt="Random first slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 1</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="secondPlaceLife">
                            <img src="../assets/img/slides/life-on-board-2.jpg" class="img-content-slide" alt="Random second slide">
                            <div class="carousel-caption carousel-left">
                                <p><b>Cruise 2</b></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide id="thirdPlaceLife">
                            <img src="../assets/img/slides/life-on-board-3.jpg" class="img-content-slide" alt="Random third slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 3</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="fourthPlaceLife">
                            <img src="../assets/img/slides/life-on-board-4.jpg" class="img-content-slide" alt="Random fourth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 4</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="fifthPlaceLife">
                            <img src="../assets/img/slides/life-on-board-5.jpg" class="img-content-slide" alt="Random fifth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 5</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="sixthPlaceLife">
                            <img src="../assets/img/slides/life-on-board-6.JPG" class="img-content-slide" alt="Random fifth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 6</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="seventhPlaceLife">
                            <img src="../assets/img/slides/life-on-board-7.jpg" class="img-content-slide" alt="Random fifth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 7</b></p>
                            </div> -->
                        </ng-template>
                    </ngb-carousel>
                    <div class="carousel-indicators-thumbnail">
                        <img src="../assets/img/slides/life-on-board-1.jpg" (click)="paceCarouselSecond.select('firstPlaceLife')" alt="Random first slide">
                        <img src="../assets/img/slides/life-on-board-2.jpg" (click)="paceCarouselSecond.select('secondPlaceLife')" alt="Random second slide">
                        <img src="../assets/img/slides/life-on-board-3.jpg" (click)="paceCarouselSecond.select('thirdPlaceLife')" alt="Random third slide">
                        <img src="../assets/img/slides/life-on-board-4.jpg" (click)="paceCarouselSecond.select('fourthPlaceLife')" alt="Random fourth slide">
                        <img src="../assets/img/slides/life-on-board-5.jpg" (click)="paceCarouselSecond.select('fifthPlaceLife')" alt="Random fifth slide">
                        <img src="../assets/img/slides/life-on-board-6.JPG" (click)="paceCarouselSecond.select('sixthPlaceLife')" alt="Random fifth slide">
                        <img src="../assets/img/slides/life-on-board-7.jpg" (click)="paceCarouselSecond.select('seventhPlaceLife')" alt="Random fifth slide">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1>Peace Boat</h1>
                <h1>Life on Board</h1>
                <p>
                    Participate in special lectures by guest journalists, specialist, thought leaders, and entertainers from different destinations. Join a class or hands-on workshop, Share your passion with the community by creating your own class or event, or learn from others. 
                </p>
                <p>
                    On Board Programs
                </p>
                <ul class="list-section">
                    <li>Guest Educators</li>
                    <li>Guest Performers</li>
                    <li>Japanese Language Lesson</li>
                    <li>Festival/Party</li>
                    <li>Culture School</li>
                    <li>Self Planned Events</li>
                </ul>
                <a href="http://pbcruise.com/" target="_blank" class="btn btn-warning btn-lg">Visit Peace Boat Global Site</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- <h2 class="header-caption-small">We are <br> Peace Boat</h2> -->
                <div class="page-carousel">
                    <ngb-carousel #paceCarouselThird="ngbCarousel">
                        <ng-template ngbSlide id="firstPlaceFacility">
                            <img src="../assets/img/slides/facility-1.jpg" class="img-content-slide" alt="Random first slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 1</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="secondPlaceFacility">
                            <img src="../assets/img/slides/facility-2.jpg" class="img-content-slide" alt="Random second slide">
                            <div class="carousel-caption carousel-left">
                                <p><b>Cruise 2</b></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide id="thirdPlaceFacility">
                            <img src="../assets/img/slides/facility-3.jpg" class="img-content-slide" alt="Random third slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 3</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="fourthPlaceFacility">
                            <img src="../assets/img/slides/facility-4.jpg" class="img-content-slide" alt="Random fourth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 4</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="fifthPlaceFacility">
                            <img src="../assets/img/slides/facility-5.jpg" class="img-content-slide" alt="Random fifth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 5</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="sixthPlaceFacility">
                            <img src="../assets/img/slides/facility-6.jpg" class="img-content-slide" alt="Random fifth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 6</b></p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide id="seventhPlaceFacility">
                            <img src="../assets/img/slides/facility-7.jpg" class="img-content-slide" alt="Random fifth slide">
                            <!-- <div class="carousel-caption carousel-left">
                                <p><b>Cruise 7</b></p>
                            </div> -->
                        </ng-template>
                    </ngb-carousel>
                    <div class="carousel-indicators-thumbnail">
                        <img src="../assets/img/slides/facility-1.jpg" (click)="paceCarouselThird.select('firstPlaceFacility')" alt="Random first slide">
                        <img src="../assets/img/slides/facility-2.jpg" (click)="paceCarouselThird.select('secondPlaceFacility')" alt="Random second slide">
                        <img src="../assets/img/slides/facility-3.jpg" (click)="paceCarouselThird.select('thirdPlaceFacility')" alt="Random third slide">
                        <img src="../assets/img/slides/facility-4.jpg" (click)="paceCarouselThird.select('fourthPlaceFacility')" alt="Random fourth slide">
                        <img src="../assets/img/slides/facility-5.jpg" (click)="paceCarouselThird.select('fifthPlaceFacility')" alt="Random fifth slide">
                        <img src="../assets/img/slides/facility-6.jpg" (click)="paceCarouselThird.select('sixthPlaceFacility')" alt="Random fifth slide">
                        <img src="../assets/img/slides/facility-7.jpg" (click)="paceCarouselThird.select('seventhPlaceFacility')" alt="Random fifth slide">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1>Peace Boat</h1>
                <h1>Facility</h1>
                <p>
                    The array of public spaces on the ship have been adapted to serve as event halls, workshop rooms and rehearsal areas. The ballroom and lounges are ideal venues for presentations and large events, functioning both as lecture halls and stage spaces.
                </p>
                <p>
                    We’ve got something for everyone: delectable Japanese cuisine, classic Western entrées, and exotic local fare inspired by our ports of call.
                </p>
                <p>
                    Whether traveling with family or friends, there is a wide range of cabins to match every lifestyle and budget.
                </p>
                <a href="http://pbcruise.com/" target="_blank" class="btn btn-warning btn-lg">Visit Peace Boat Global Site</a>
            </div>
        </div>
    </div>
</div>
<div class="section section-dark" style="background-image: url('../assets/img/live-in-the-moment.jpg');">
    <div class="vertical-center">
        <!-- <h1 class="text-image">Find your Dream to explore <br> Around the World with us</h1> -->
        <!-- <h2 class="text-image-small"><a [ngx-scroll-to]="'#event'">Register now!</a></h2> -->
    </div>
</div>
<div class="section section-dark" id="event" style="background-image: url('../assets/img/night-light-bg.jpg');">
    <h1 class="head-section">Featured Upcoming Event</h1>
    <div class="section-dark-main">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <img src="../assets/img/featured-event.jpg" class="img-content-center" alt="Random first image">
            </div>
            <div class="col-md-5">
                <h4 class="text-heading" style="margin-top: 15%;">Saturday, 19 May 2018</h4>

                <h3 class="text-heading">Raffles Town Club Singapore</h3>
                <p><b>1 Plymouth Avenue Singapore 297753</b></p>

                <h4 class="text-heading">Time:</h4>
                <p><b>Session 1 : 10:30am - 12:30pm</b></p>
                <p><b>Session 2 : 02:30pm - 04:30pm</b></p>
                <button type="button" [ngx-scroll-to]="'#register'" class="btn btn-warning btn-lg">It's free! Register now</button>
            </div>
        </div>
    </div>
</div>
<div class="section section-dark-content" id="register">
    <div class="section-dark-container">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <h2 class="text-center">Register</h2>
                <iframe src="https://go.pardot.com/l/220132/2017-09-20/5xygl" type="text/html" frameborder="0" allowTransparency="true" style="border: 0; width: 100%; height: 525px;"></iframe>
                <!-- <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="nc-icon nc-single-02"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="nc-icon nc-email-85"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                    <div class="row">
                        <div class="col-md-4 mr-auto ml-auto">
                            <button type="button" class="btn btn-warning btn-lg btn-fill">Register</button>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</div>