<!-- <div class="page-header" data-parallax="true" style="background-image: url('../assets/img/slides/Slide_1.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Explore the world</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Register</button>
        </div>
    </div>
</div> -->
<div class="page-header">
    <h2 class="header-caption">Around The World Cruise Peace Boat</h2>
    <div class="page-carousel">
        <ngb-carousel #headerCarousel="ngbCarousel">
            <ng-template ngbSlide id="firstSlide">
                <img src="../assets/img/slides/Slide_1.jpg" alt="Random first slide">
                <div class="carousel-caption carousel-left">
                    <p><b>Indonesia</b></p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="secondSlide">
                <img src="../assets/img/daniel-olahh.jpg" alt="Random second slide">
                <div class="carousel-caption carousel-left">
                    <p><b>Hawai</b></p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="thirdSlide">
                <img src="../assets/img/antoine-barres.jpg" alt="Random third slide">
                <div class="carousel-caption carousel-left">
                    <p><b>Germany</b></p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="fourthSlide">
                <img src="../assets/img/joshua-stannard.jpg" alt="Random fourth slide">
                <div class="carousel-caption carousel-left">
                    <p><b>Japan</b></p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="fifthSlide">
                <img src="../assets/img/bruno-abatti.jpg" alt="Random fifth slide">
                <div class="carousel-caption carousel-left">
                    <p><b>Canada</b></p>
                </div>
            </ng-template>
        </ngb-carousel>
        <div class="carousel-indicators-thumbnail">
            <img src="../assets/img/slides/Slide_1.jpg" (click)="headerCarousel.select('firstSlide')" alt="Random first slide">
            <img src="../assets/img/daniel-olahh.jpg" (click)="headerCarousel.select('secondSlide')" alt="Random second slide">
            <img src="../assets/img/antoine-barres.jpg" (click)="headerCarousel.select('thirdSlide')" alt="Random third slide">
            <img src="../assets/img/joshua-stannard.jpg" (click)="headerCarousel.select('fourthSlide')" alt="Random fourth slide">
            <img src="../assets/img/bruno-abatti.jpg" (click)="headerCarousel.select('fifthSlide')" alt="Random fifth slide">
        </div>
    </div>
</div>
<div class="section section-dark-nocontent">
    <div class="section-dark-box">
        <div class="row">
            <div class="col-md-6">
                <h2 class="head-title">Explore the land of fire</h2>
                <div>
                    <img src="../assets/img/federico-beccari.jpg" class="img-content" alt="Random first image">
                    <button type="button" [ngx-scroll-to]="'#cruises'" (click)="itineraryCarousel.select('firstItinerary')" class="btn btn-outline-neutral btn-sm img-caption">#Cruise100</button>
                </div>
                <p class="text-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <span *ngIf="!content1" (click)="showMore(1)" class="read-more">Show more</span>
                    <span *ngIf="content1">Nam ultricies augue sed mattis gravida. Nullam eget sapien vel elit mollis accumsan vel in lacus. Phasellus sodales nec risus vel pulvinar. Praesent quis nisl sit amet libero sollicitudin lobortis. Etiam pellentesque eros ac dui lacinia commodo ut non tortor.</span>
                    <span *ngIf="content1" (click)="showMore(1)" class="read-more">Show Less</span>
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="head-title">Journey to sea paradise</h2>
                <div>
                    <img src="../assets/img/soroush-karimi.jpg" class="img-content" alt="Random second image">
                    <button type="button" [ngx-scroll-to]="'#cruises'" (click)="itineraryCarousel.select('secondItinerary')" class="btn btn-outline-neutral btn-sm img-caption">#Cruise101</button>
                </div>
                <p class="text-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <span *ngIf="!content2" (click)="showMore(2)" class="read-more">Show more</span>
                    <span *ngIf="content2">Nam ultricies augue sed mattis gravida. Nullam eget sapien vel elit mollis accumsan vel in lacus. Phasellus sodales nec risus vel pulvinar. Praesent quis nisl sit amet libero sollicitudin lobortis. Etiam pellentesque eros ac dui lacinia commodo ut non tortor.</span>
                    <span *ngIf="content2" (click)="showMore(2)" class="read-more">Show less</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section section-dark" style="background-image: url('../assets/img/live-in-the-moment.jpg');">
    <div class="vertical-center">
        <h1 class="text-image">Live in the<br>moment</h1>
        <h2 class="text-image-small"><a [ngx-scroll-to]="'#event'">Register now!</a></h2>
    </div>
</div>
<div class="section section-dark-content" id="cruises">
    <div class="section-dark-box">
        <ng-template #content100 let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h5 class="modal-title">#Cruise100</h5>
            </div>
            <div class="modal-body">
                <div class="text-box">
                    <h3 class="head-title-tag">Explore the land of fire</h3>
                    <p class="text-content-slide">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="left-side">
                    <button type="button" [ngx-scroll-to]="'#event'" class="btn btn-default btn-link" (click)="c('Close click')">Register</button>
                </div>
                <div class="divider"></div>
                <div class="right-side">
                    <button type="button" class="btn btn-danger btn-link" (click)="c('Close click')">Maybe Next Time</button>
                </div>
            </div>
        </ng-template>
        <ng-template #content101 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h5 class="modal-title">#Cruise101</h5>
                </div>
                <div class="modal-body">
                    <div class="text-box">
                        <h3 class="head-title-tag">Explore the land of fire</h3>
                        <p class="text-content-slide">
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" [ngx-scroll-to]="'#event'" class="btn btn-default btn-link" (click)="c('Close click')">Register</button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <button type="button" class="btn btn-danger btn-link" (click)="c('Close click')">Maybe Next Time</button>
                    </div>
                </div>
            </ng-template>
        <ngb-carousel #itineraryCarousel="ngbCarousel">
            <ng-template ngbSlide id="firstItinerary">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Paris</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/uriel-soberanes.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Hawai</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/slides/Slide_2.jpg" class="img-content-slide" alt="Random second image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Indonesia</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/slides/Slide_3.jpg" class="img-content-slide" alt="Random third image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="head-tag">#Cruise100</h1>
                        <div class="text-box">
                            <h3 class="head-title-tag">Explore the land of fire</h3>
                            <p class="text-content-slide">
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <button type="button" class="btn btn-warning btn-lg" style="margin-left: 5%" (click)="open(content100)">See Itinerary</button>
                        <h4 (click)="itineraryCarousel.select('secondItinerary')">Next <i class="fa fa-angle-right" aria-hidden="true"></i> Cruise 101</h4>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide id="secondItinerary">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Paris</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/uriel-soberanes.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Hawai</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/slides/Slide_2.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-title-small">Indonesia</h3>
                            </div>
                            <div class="col-md-6">
                                <img src="../assets/img/slides/Slide_3.jpg" class="img-content-slide" alt="Random first image">
                            </div>
                            <div class="col-md-6">
                                <p class="text-content-slide">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="head-tag">#Cruise101</h1>
                        <div class="text-box">
                            <h3 class="head-title-tag">Explore the land of fire</h3>
                            <p class="text-content-slide">
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <button type="button" class="btn btn-warning btn-lg" style="margin-left: 5%" (click)="open(content101)">See Itinerary</button>
                        <h4 (click)="itineraryCarousel.select('firstItinerary')">Prev <i class="fa fa-angle-left" aria-hidden="true"></i> Cruise 100</h4>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="section-dark-slide">
        <div class="row">
            <div class="col-md-6">
                <div class="page-carousel">
                    <ngb-carousel #paceCarousel="ngbCarousel">
                        <ng-template ngbSlide id="firstPlace">
                            <img src="../assets/img/slides/peace-boat-1.jpg" class="img-content-slide" alt="Random first slide">
                            <div class="carousel-caption carousel-left">
                                <p><b>Cruise 1</b></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide id="secondPlace">
                            <img src="../assets/img/slides/peace-boat-2.jpg" class="img-content-slide" alt="Random second slide">
                            <div class="carousel-caption carousel-left">
                                <p><b>Cruise 2</b></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide id="thirdPlace">
                            <img src="../assets/img/slides/peace-boat-3.jpg" class="img-content-slide" alt="Random third slide">
                            <div class="carousel-caption carousel-left">
                                <p><b>Cruise 3</b></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide id="fourthPlace">
                            <img src="../assets/img/slides/peace-boat-4.jpg" class="img-content-slide" alt="Random fourth slide">
                            <div class="carousel-caption carousel-left">
                                <p><b>Cruise 4</b></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide id="fifthPlace">
                            <img src="../assets/img/slides/peace-boat-5.jpg" class="img-content-slide" alt="Random fifth slide">
                            <div class="carousel-caption carousel-left">
                                <p><b>Cruise 5</b></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide id="sixthPlace">
                            <img src="../assets/img/slides/peace-boat-6.jpg" class="img-content-slide" alt="Random fifth slide">
                            <div class="carousel-caption carousel-left">
                                <p><b>Cruise 6</b></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide id="seventhPlace">
                            <img src="../assets/img/slides/peace-boat-7.jpg" class="img-content-slide" alt="Random fifth slide">
                            <div class="carousel-caption carousel-left">
                                <p><b>Cruise 7</b></p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                    <div class="carousel-indicators-thumbnail">
                        <img src="../assets/img/slides/peace-boat-1.jpg" (click)="paceCarousel.select('firstPlace')" alt="Random first slide">
                        <img src="../assets/img/slides/peace-boat-2.jpg" (click)="paceCarousel.select('secondPlace')" alt="Random second slide">
                        <img src="../assets/img/slides/peace-boat-3.jpg" (click)="paceCarousel.select('thirdPlace')" alt="Random third slide">
                        <img src="../assets/img/slides/peace-boat-4.jpg" (click)="paceCarousel.select('fourthPlace')" alt="Random fourth slide">
                        <img src="../assets/img/slides/peace-boat-5.jpg" (click)="paceCarousel.select('fifthPlace')" alt="Random fifth slide">
                        <img src="../assets/img/slides/peace-boat-6.jpg" (click)="paceCarousel.select('sixthPlace')" alt="Random fifth slide">
                        <img src="../assets/img/slides/peace-boat-7.jpg" (click)="paceCarousel.select('seventhPlace')" alt="Random fifth slide">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1>What is</h1>
                <h1>Peace Boat?</h1>
                <p>
                    Peace Boat is an international NGO based in Japan that promotes peace, human rights, equal and sustainable development, reapect for the environment, and eco-friendly tourism.
                </p>
                <p>
                    More than 95 cruises over 35 years have raised awareness of global issues, fostered positive social change and transformed our passengers’ perspectives of the world. We’ve hosted over 60,000 passengers and traveled to more than 100 ports in over 80 countries.
                </p>
                <p>
                    Sailing with Peace Boat?
                </p>
                <ul class="list-section">
                    <li>Visit many amazing destinations</li>
                    <li>Travel to World Heritage Sites</li>
                    <li>Experience the local culture</li>
                    <li>Immerse yourself in cross-cultural exchange</li>
                    <li>Turn back time</li>
                    <li>Make your own story</li>
                </ul>
                <a href="http://pbcruise.com/" target="_blank" class="btn btn-warning btn-lg">Visit Peace Boat Global Site</a>
            </div>
        </div>
    </div>
    
    <h1 class="head-section">Featured Upcoming Event</h1>
</div>
<div class="section section-dark" id="event" style="background-image: url('../assets/img/night-light-bg.jpg');">
    <div class="section-dark-main">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <img src="../assets/img/featured-event.jpg" class="img-content-center" alt="Random first image">
            </div>
            <div class="col-md-5">
                <h4 class="text-heading" style="margin-top: 15%;">Saturday, 19 May 2018</h4>

                <h3 class="text-heading">Raffles Town Club Singapore</h3>
                <p><b>1 Plymouth Avenue Singapore 297753</b></p>

                <h4 class="text-heading">Time:</h4>
                <p><b>Session 1 : 10:30am - 12:30pm</b></p>
                <p><b>Session 2 : 02:30pm - 04:30pm</b></p>
                <button type="button" [ngx-scroll-to]="'#register'" class="btn btn-warning btn-lg">It's free! Register now</button>
            </div>
        </div>
    </div>
</div>
<div class="section section-dark-content" id="register">
    <div class="section-dark-container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center">Register</h2>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="nc-icon nc-single-02"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="nc-icon nc-email-85"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                    <div class="row">
                        <div class="col-md-4 mr-auto ml-auto">
                            <button type="button" class="btn btn-warning btn-lg btn-fill">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>