<footer class="footer">
    <div class="row">
        <div class="col-md-4">
            <h3>Travel Agency <span class="line-title-first"></span></h3>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <img src="https://dummyimage.com/150/ffffff/000000">
                </div>
                <div class="col-md-6">
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>About Peace Boat <span class="line-title-second"></span></h3>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <img src="https://dummyimage.com/150/ffffff/000000">
                </div>
                <div class="col-md-6">
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Privacy <span class="line-title-third"></span></h3>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <img src="https://dummyimage.com/150/ffffff/000000">
                </div>
                <div class="col-md-6">
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
