<footer class="footer hide">
    <div class="row">
        <div class="col-md-4">
            <h3>Japan <span class="line-title-first"></span></h3>
            <p>
                JAPAN GRACE CO. LTD. <br> <br>

                1-32-13 Takadanobaba, <br>
                Shinjuku-ku, Tokyo, Japan 169-0075 <br>
                customer@pbcruise.com <br>
                Registered Travel Agency No.617 approved by the Commissioner of Japan Tourism Agency. <br>
                Member of Japan Association of Travel Agents(JATA) <br>
                Supporting Member of Japan Oceangoing Passenger Ship Association(JOPA)
            </p>
        </div>
        <div class="col-md-4">
            <h3>Singapore <span class="line-title-second"></span></h3>
            <p>
                FOLLOW ME JAPAN PTE LTD <br> <br>

                Address: 16 Raffles Quay #16-02C/D, Hong Leong Building, Singapore 048581 <br>
                Tel: +65-6507-3900 <br>
                Website: http://www.followmejapan.com.sg/ <br>

                PYO TRAVEL PTE LTD <br> <br>

                Address: 159A Thomson Road, Goldhill Centre Level 2 Singapore 307612 <br>
                Tel: +65-6336-2022 <br>
                Website: http://www.pyotravel.com/
            </p>
        </div>
        <div class="col-md-4">
            <h3>Privacy Policy <span class="line-title-third"></span></h3>
            <p>
                This Privacy Policy (the “Policy”) sets out how JAPAN GRACE CO., Ltd. (“JAPAN GRACE”) collect, use, and disclose an individual customer’s Personal Data (as defined below) in order to provide services to a customer. <br> <br>

                For the purposes of this Policy, in line with the provisions under the Singapore Personal Data Protection Act 2012 (No. 26 of 2012) (the “Act”), “Personal Data” shall mean data, whether true or not, about an individual customer... <a href="https://pbcruise.com/privacypolicy">(Read More)</a>
            </p>
        </div>
    </div>
</footer>
<footer class="footer">
    <div class="row">
        <div class="col-md-4">
            <h3>Japan <span class="line-title-first"></span></h3>
            <p>
                JAPAN GRACE CO. LTD. <br> <br>

                1-32-13 Takadanobaba, <br>
                Shinjuku-ku, Tokyo, Japan 169-0075 <br>
                customer@pbcruise.com <br>
                Registered Travel Agency No.617 approved by the Commissioner of Japan Tourism Agency. <br>
                Member of Japan Association of Travel Agents(JATA) <br>
                Supporting Member of Japan Oceangoing Passenger Ship Association(JOPA)
            </p>
        </div>
        <div class="col-md-4">
            <h3>Malaysia <span class="line-title-second"></span></h3>
            <p>
                RELIANCE SHIPPING & TRAVEL AGENCIES SDN BHD <br> <br>

                Address: Unit E-5-4, Level 5, Block E, Southgate Commercial Centre, No 2, Jalan Dua Off Jalan Chan Sow Lin, 55200 Kuala Lumpur. <br>
                Tel: PJ, 1-Utama +60-3-7725-7210 Putrajaya, IOI City Mall +60-3-8957-0770 / +60-3-8958-5775 <br>
                Website: http://www.reliancetravel.com/promotion/cruiseworld/peace-boat-main
            </p>
        </div>
        <div class="col-md-4">
            <h3>Privacy Policy <span class="line-title-third"></span></h3>
            <p>
                This Privacy Policy (the “Policy”) sets out how JAPAN GRACE CO., Ltd. (“JAPAN GRACE”) collect, use, and disclose an individual customer’s Personal Data (as defined below) in order to provide services to a customer. <br> <br>

                For the purposes of this Policy, in line with the provisions under the Singapore Personal Data Protection Act 2012 (No. 26 of 2012) (the “Act”), “Personal Data” shall mean data, whether true or not, about an individual customer... <a href="https://pbcruise.com/privacypolicy">(Read More)</a>
            </p>
        </div>
    </div>
</footer>
